[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.63.0"
requests = "2.25.1"
uvicorn = "0.13.0"

pytest = "*"
responses = "*" # https://github.com/getsentry/responses


[dev-packages]
black = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.9"
